# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
.env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

testcases/